
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* BASIC COLORS*/
$basic-dark-color: black;
$basic-light-color: white;

/* BRANDED COLORS */
$palette-color-darker: #3c979f;
$palette-color-dark: #73b3b2;
$palette-color-medium: #aecfd0;
$palette-color-light: #bed9dd;
$palette-color-lighter: #deebec;

/* BRANDED FONTS */
$primary-branded-font: 'Dosis', sans-serif;
$secondary-branded-font: 'Lato', sans-serif;